.wrap {
	background-color: #f9f5f0;
	padding: 25px 25px 23px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;
}

ul.product-items {
	padding: 0;
	margin: 0 0 20px 0;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.product-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	max-width: 220px;
	width: 100%;
	margin-right: 20px;
	border: 1px solid #a9a9a9;
	padding: 0 0 20px 0;
	list-style: none;
}

.product-list:last-child {
	margin-right: 0;
}

h3.product__title {
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	margin: 0;
}

p.product__price_old {
	color: #a9a9a9;
	font-size: 17px;
	font-weight: bold;
}

.product__price-btn a {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 35px 10px 35px;
}