.promo {
	padding: 60px 0 55px;
}

ul.promo__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

ul.promo__item_row {
	flex-direction: column;
	align-items: flex-end;
}

.promo__list {
	box-sizing: border-box;
	padding: 22px 140px 20px 20px;
	max-width: 300px;
	width: 100%;
	margin: 0 0 20px 20px;
	position: relative;
	list-style: none;
}

.promo__list:first-child {
	margin-left: 0;
}

.promo__list img {
	position: absolute;
	top: 30%;
	right: 40px;
}

p.promo__list_btn {
	margin: 0;
	position: relative;
	text-align: center;
	z-index: 1;
}

.promo__list_btn:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #000000;
	height: 40px;
	opacity: .1;
	border-radius: 3px;
	z-index: -1;
	transition: all .2s linear;
}

.promo__list_btn:hover::before {
	opacity: .2;
}

.promo__list_btn:active::before {
	opacity: .3;
}

.promo__list_yellow {
	background-color: #ffbf47;
}

.promo__list_blue {
	background-color: #3bbce3;
}

.promo__list_pinck {
	background-color: #dc91d8;
}

.promo__list_green {
	background-color: #8ed78f;
}

.promo__list_title {
	font-family: 'Cuprum', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.promo__list_btn a {
	display: block;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	padding: 8px 0;
	width: 100%;
}

.slaider {
	position: absolute;
	max-width: 620px;
	width: 100%;
	background: url(../img/slider-1.jpg) no-repeat;
	padding: 20px 0 23px 25px;
}

.slaider:after,
.slaider:before {
	content: "";
	position: absolute;
	width: 30px;
	height: 45px;
	top: 53%;
	transform: translateY(-50%);
	cursor: pointer;
}

.slaider:after {
	background-image: url(../img/svg/icon-left.svg);
	background-repeat: no-repeat;
	left: 22px;
}

.slaider:before {
	background-image: url(../img/svg/icon-right.svg);
	background-repeat: no-repeat;
	right: 45px;
}

h2.slaider__title {
	margin: 0;
	padding: 0;
	font-size: 36px;
	font-family: 'Cuprum', sans-serif;
	font-weight: 700;
	position: relative;
	z-index: 10;
}

.slaider__title:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 0;
	left: -25px;
	max-width: 620px;
	width: 100%;
	height: 105px;
	background-color: #000;
	opacity: .25;
	z-index: -1;
}

p.slaider__subtitle {
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: 125px;
	position: relative;
	z-index: 10;
}

.slaider__btn a {
	margin-right: 75px;
}