.service {
	background-color: #f4f8f9;
}

.service__wrap {
	padding: 60px 0 70px 0;
}

.service__body {
	display: flex;
	padding: 0 0 80px 0;
}

.service__list {
	padding: 0;
	margin: 0 80px 0 0;
}

li.service__item {
	list-style: none;
	width: 240px;
}

li.service__item:not(:last-child) {
	border-bottom: 1px solid #4e637c;
}

.service__item a {
	display: block;
	background-color: #32425c;
	padding: 15px 0 20px 20px;
	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	font-weight: bold;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}

.service__item a:hover {
	background-color: #293449;
	color: #ffffff;
}

.service__item .active {
	background-color: #ffffff;
	color: #293449;
}

.service__info {
	width: 100%;
	position: relative;
}

.service__info h3 {
	margin: 0 0 35px 0;
	text-transform: uppercase;
	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	color: #32425c;
}

.service__info p {
	font-size: 13px;
	color: #000000;
	margin: 0;
}

.service__info img {
	position: absolute;
	top: 0;
	right: 0;
}